*{
    margin: 0%;
    padding: 0%;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 20px;
    background-color: black;
    padding: 10px 0px;
}
#Login-Text{
    display: flex;
    align-items: center;
}
#Login-Text p{
   
    color: #969696
}

#Login-Text p span{
     color: #e3e3e3;
      padding-left: 10px;
       font-size: 18px
}
/* npm install @fortawesome/react-fontawesome @fortawesome/free-solid-svg-icons */
#Login-Text button{
   color: #e3e3e3;
  background: none;
  border: none;    
  width: auto;      
  height: auto;    
  /* margin-left: 10px;        */
  cursor: pointer; 

}
#Login-Text h3{
    color: #e3e3e3;
    margin-left: 10px
}