.hero-sec{
    width: auto;
    height: 400px;
    background-color: #CCCCCC;
}
#image{
    width: 310px;
    height: 389px;
    padding-top: 4%;

}
.text{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text h1{
    font-size: 50px;
    
}
#btn{
    width: 140px;
    height: 50px;
    background-color: black;
    color: #CCCCCC;
    font-size: 22px;
    font-weight: bold;
    border-radius: 12px;
    margin-top: 20px;
    
}